doctype html
head
  title='Robot Tycoon'
  link(rel='stylesheet', href='/stylesheets/ide.css')
  link(rel='stylesheet', href='/stylesheets/editor.css')
  link(rel='stylesheet', href='//golden-layout.com/assets/css/goldenlayout-base.css')
  link(rel='stylesheet', href='//golden-layout.com/assets/css/goldenlayout-dark-theme.css')
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script.
    // global instance for IDE.
    socket = io();
  script(src='javascripts/api.js')
  script(src='/ace-builds/src-noconflict/ace.js')
  script(src='//golden-layout.com/files/latest/js/goldenlayout.min.js')
  script(src="https://cdn.jsdelivr.net/npm/ansi_up@5.0.0/ansi_up.min.js")
  script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js")
  script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js")
  script(src='/javascripts/editors.js')
  body
    div(id="wrapper")
      div(class="topnav")
        li(onclick="saveEditors()") Save
        li(onclick="runProgram()") &#9658;
        li(onclick="api.doReset()") Reset
      div(id="golden_layout")
    script(src='/javascripts/goldenlayout.js')
    // Configure socket to receive ROS Log.
    script.
        var ros_log_text = "";
        var ansi_up = new AnsiUp;
        socket.emit('ros_log');
        socket.on('ros_log', function(data) {
            console.log(data.data);
            ros_log_text += data.data;
            if (window.ros_log_div) {
              var div = document.getElementById(window.ros_log_div);
              div.innerHTML = '<pre>' + ansi_up.ansi_to_html(ros_log_text) + '</pre>';
              var parent_content = div.parentElement;
              parent_content.scrollTop = parent_content.scrollHeight;
            }
        });



