extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script.
    function getSceneData() {
        $.ajax({
        url: "sceneData/latest",
        dataType: "json",
        success: function(result){
            $("#div1").html("<pre>" + JSON.stringify(result, null, 3) + "</pre>");
          }
        });
        setTimeout(getSceneData, 100);
     };
    $(document).ready(function(){
        setTimeout(getSceneData, 100);
    });
  h1= title
  #div1
    h1 (Latest Scene Data)