<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.6.3/ui-grid.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.6.3/ui-grid.min.css" type="text/css">
    
    <style>
        .uiGrd {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    
    <div ng-app="myApp" 
        ng-controller="myController">
        <p>{{title}}</p>
        <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
        <button type="button" class="btn btn-success" ng-click="add_jobs()">Add Jobs</button>
        <div class="uiGrd" id="grd" 
            ui-grid="gridOptions" 
                ui-grid-resize-columns
                ui-grid-selection
                ui-grid-pagination>
        </div>
    </div>
</body>

<!--The Controller -->
<script>
    var app = angular.module('myApp', ['ui.grid', 'ui.grid.pagination','ui.grid.resizeColumns','ui.grid.selection']);
    function add_model($http, location_val){
        var new_model = {
            status: 'NOT_STARTED',
            job_type: 'EVAL',
            iterations: 100,
            model_type: 'SacAgent',
            location: location_val
        }
        
        var postModel = {
            method: 'post',
            url: '/add_job',
            dataType: 'json',
            data: new_model,
            contentType: "application/json"
        };
        
        $http(postModel)
            .success(function (jsonData) {
                console.log(jsonData)
            })
            .error(function () { });
    }
    app.controller('myController', function ($scope, $http) {

        $scope.title = "Models"
        $scope.selected_jobs = [];
        // SPECIFY FILTERING OPTIONS.
        $scope.clearAll = function() {
            $scope.gridApi.selection.clearSelectedRows();
            $scope.selected_jobs=[];
        };
        $scope.selectAll = function() {
            $scope.gridApi.selection.selectAllRows();
        };
        
        $scope.add_jobs = function() {
            console.log("in add jobs");
            console.log($scope.selected_jobs);
            if (!$scope.selected_jobs)
                return;
            for(var i=0;i<$scope.selected_jobs.length;i++){
                add_model($http, $scope.selected_jobs[i].entity.location);
            }
        };

        $scope.gridOptions = {
            paginationPageSizes: [5, 10, 20],
            paginationPageSize: 20,
            enableFiltering: true
        };
        
        $scope.gridOptions.onRegisterApi = function(gridApi){
            //set gridApi on scope
            $scope.gridApi = gridApi;
            gridApi.selection.on.rowSelectionChanged($scope,function(row){
                var msg = 'row selected ' + row.isSelected;
                console.log(msg);
                console.log(row.entity)
                if(row.isSelected)
                    $scope.selected_jobs.push(row);
                else
                    for(var i=0;i<$scope.selected_jobs.length;i++)
                    {
                        if($scope.selected_jobs[i].entity.location
                            == row.entity.location)
                        {
                            $scope.selected_jobs.splice(i,1)    
                        }
                    }
                // add_model($http, row.entity.location);
            });
        
            gridApi.selection.on.rowSelectionChangedBatch($scope,function(rows){
                var msg = 'rows changed ' + rows.length;
                if(rows[0].isSelected==true)
                    $scope.selected_jobs = rows;
                else
                    $scope.selected_jobs = [];

                console.log(msg);
                console.log( $scope.selected_jobs);
            });
        };
        var request = {
            method: 'get',
            url: '/get_models',
            dataType: 'json',
            contentType: "application/json"
        };

        $http(request)
            .success(function (jsonData) {
                var results = [];
                for(var i=0;i<jsonData.length; i++){
                    var model = jsonData[i];
                    console.log(model);
                    var new_model = {};
                    new_model.id = model["_id"];
                    new_model.avg_return = model["avg_return"];
;                   new_model.model_type = model["model_type"];
                    new_model.location = model["location"];
                    new_model.robot_type = model["robot_type"]; 
                    new_model.iterations = model["training_iterations"];
                    results.push(new_model) 
                }
                console.log(results)
                $scope.gridOptions.data = results;     // BIND JSON TO THE GRID.
            })
            .error(function () { });
       


    });
</script>
</html>